<div class="level">
    <h1 class="title">Workouts</h1>
</div>
<section [ngClass]="{'has-background-primary-light' : workout.id==selectedWorkoutId}" *ngFor="let workout of workouts"
    class="p-1">
    <div class=" card ">
        <div class="level is-clickable" (click)="changeSelectedWorkout(workout)">
            <h4 class="level-item level-left m-2">{{workout.workoutName}}</h4>
            <i [ngClass]="{'fa-angle-down': workout.workoutId===this.selectedWorkoutId
                ,'fa-angle-right': workout.workoutId!==this.selectedWorkoutId}" class="fa level-item level-right"></i>
        </div>
        <div id="animated" *ngIf="workout.workoutId===this.selectedWorkoutId">
            <div>
                <app-workout-details [(workoutID)]="selectedWorkoutId"></app-workout-details>
            </div>
        </div>
    </div>
</section>