.card-content {
  transition: width 600ms ease-out, height 600ms ease-out;
}

#animated {
  animation: sweep .5s ease-in-out;
}

details[open] summary~* {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity   : 0;
    margin-top: -10px
  }

  100% {
    opacity   : 1;
    margin-top: 0px
  }
}

.is-clickable {
  cursor: pointer;
}