
.remove-prog {
    margin-bottom: 5px;
}

h4 {
    margin-top   : 25px;
    margin-bottom: 10px;
}

.date-picker {
    margin-bottom: 10px;
}

.workout-card:hover{
    transition: all .1s ease-in-out;
    transform: scale(1.05);
}
