<div class="content">

    <div class="date-picker">
        <label>Start date </label>
        <input class="is-clickable" type="date" [ngModel]="this.goal.startDate | date:'yyyy-MM-dd'"
            (ngModelChange)="setGoalStartDate($event)" [disabled]="!isInteractiv">
    </div>
    <hr class="m-1">
    <div *ngIf="goalProgram">
        <h4>Workouts in program</h4>
        <button (click)="onDeleteProgram(goalProgram)" *ngIf="isDeletable" class="button is-danger remove-prog" >
            Remove Program
        </button>
        <div *ngFor="let programWorkout of goalProgram.workouts" class="p-1 m-1 card is-clickable workout-card" >
            <div (click)="onWorkoutSelectionChange(programWorkout)"  class="p-2 level">
                <div *ngIf="programWorkout.workout"> {{programWorkout.workout.name}} </div>
                <div *ngIf="programWorkout.workoutName"> {{programWorkout.workoutName}} </div>
                <div>{{getProgramWorkoutDate(programWorkout).toLocaleDateString()}} </div>
                <input *ngIf="isInteractiv&&isCompletable" [checked]="programWorkout.isCompleted"
                    [(ngModel)]="programWorkout.isCompleted" type="checkbox" class="is-clickable" />
            </div>
        </div>
    </div>
    <div *ngIf="goalWorkouts && goalWorkouts.length>0">
        <h4>Workouts</h4>
        <div *ngFor="let goalWorkout of goalWorkouts">
            <div *ngIf="goalWorkout.workout"
                class="p-1 m-1 card is-clickable  workout-card">
                <div class=" m-1 py-1 px-2" (click)="onWorkoutSelectionChange(goalWorkout)">
                    <div class="level m-0">
                        <p class="m-0"> {{goalWorkout.workout.name}} </p>
                        <p class=" m-0">{{getGoalWorkoutDate(goalWorkout)}} </p>
                        <input class="m-0 is-clickable" *ngIf="isInteractiv&&isCompletable"
                            [checked]="goalWorkout.isCompleted" [(ngModel)]="goalWorkout.isCompleted" type="checkbox" />
                        <button (click)="onDeleteWorkout(goalWorkout)" *ngIf="isDeletable"
                            class="button is-danger is-small">X</button>
                    </div>
                    <div class="m-1 py-1 px-2 level">
                        <div class="level-item" for="dayseAfterStart">Days after goal start: </div>
                        <div class="control">
                            <input class=" input is-small" name="daysAfterStart" [(ngModel)]="goalWorkout.daysFromStart"
                                type="number" [disabled]="!isInteractiv" min="0" max="6" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>