<div>
    <div class="level">
        <h1>Programs</h1>
        <button *ngIf="hasSelectButton" (click)="programSelected()" class="button is-primary">Add Selected</button>
        <button *ngIf="!hasSelectButton && isAuthorized()" (click)="toggleAddProgramModule()"
            class="button is-primary is-outlined"><strong>Add new program</strong></button>
        <app-add-program (clicked)="handleSaveProgram()" class="modal" [ngClass]="{'is-active' : toggleProgramPopOver}">
        </app-add-program>
    </div>
    <div class="is-scrollable">
        <section [ngClass]="{'has-background-primary-light' : program.id==selectedProgram.id}"
            *ngFor="let program of programs" (click)="onProgramChange(program)">
            <div class="level m-0 is-clickable">
                <p class="m-3">
                    <strong> {{program.name }} </strong>
                    <small *ngFor='let category of program.category'>{{category.concreteName}} </small>
                </p>
            </div>
            <hr class="hr m-0">
        </section>
    </div>
</div>