<div class="columns">
    <div class="column is-full">
        <p>
            In your personal information tab you can see and edit your personal information.
        </p>
        <hr>
    </div>

</div>
<div class="columns is-desktop" [formGroup]="personalForm">
    <div class="column is-half">
        <div>
            <div class="field">
                <div class="control">
                    <label class="label is-size-7">First name</label>
                    <input class="input is-normal" formControlName="firstName" type="text"
                        placeholder="A placeholder name">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label is-size-7">Last name</label>
                    <input class="input is-normal" type="text" formControlName="lastName"
                        placeholder="A placeholder lastname">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label is-size-7">Email address</label>
                    <input class="input is-normal" type="email" formControlName="email" placeholder="Your Email">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label is-size-7">Date of birth</label>
                    <input class="input " type="date" formControlName="dob" min="1930-01-01">
                </div>
            </div>
        </div>
        <div formGroupName="profile">
            <div class="field">
                <div class="control">
                    <label class="label is-size-7">Gender</label>
                    <span class="select is-fullwidth">
                        <select formControlName="genderId">
                            <option *ngFor="let aGender of genders" [value]="aGender?.id">{{aGender?.name}}</option>
                        </select>
                    </span>
                </div>
            </div>
        </div>

    </div>
    <div class="column is-half" formGroupName="profile">
        <div formGroupName="address">
            <div class="field">
                <div class="control">
                    <label class="label is-size-7">Address</label>
                    <input class="input is-normal" type="text" formControlName="addressLine1"
                        placeholder="Address line">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label is-size-7">City</label>
                    <input class="input is-normal" type="text" formControlName="city" placeholder="City">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label is-size-7">Postal code</label>
                    <input class="input is-normal" type="text" formControlName="postalCode" pattern="[0-9]*"
                        placeholder="Postal code">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label is-size-7">Country</label>
                    <input class="input is-normal" type="text" formControlName="country" placeholder="Country">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="columns is-centered has-text-centered">
    <div class="column">
        <button class="button is-primary" type="button" (click)="onSaveClicked()" [disabled]="!personalForm.valid">
            <strong>Save</strong>
        </button>
    </div>
</div>