<div class="content">
    <h1 class="m-4">Status</h1>
    <p class="px-4 mx-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint libero porro assumenda ipsum
        consectetur. Excepturi facilis debitis explicabo quod, ex ipsa impedit eveniet velit fugiat nobis, ducimus
        sapiente facilis veniam voluptates qui.</p>
    <div class="px-4 mx-4" *ngIf="program">
        <h3>Current program</h3>
        <app-program-details [program]="program"></app-program-details>
    </div>
    <br>
    <hr>
</div>