<div class="modal-background" (click)="closeMe()">
    <div class="modal-card">
        <div class="card p-2 m-2 has-outline">
            <div class="box">
                <div class="media-content">
                    <p>
                        <strong>Error!</strong>
                        <br>
                        {{errorMessage}}
                        <br>
                        {{additionalInformation}}
                    </p>
                    <p class="help">
                        (Click me to close)
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>