<div class="columns is-centered has-text-centered" [formGroup]="form">
    <div class="column is-7">
        <div class="field">
            <div class="control">
                <label class="label">Changing password</label>
                <div *ngIf="passwordChangeSuccess; then success else noSuccess">
                </div>
                <input class="input is-normal" formControlName="password" type="password" placeholder="Old password">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="input is-normal" formControlName="newPassword" type="password" placeholder="New password">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="input is-normal" formControlName="newPasswordConfirm" type="password" placeholder="Repeat new password">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button class="button is-primary" type="button" (click)="onSavePasswordClicked()" [disabled]="!form.valid">
                    <strong>Change password</strong>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="columns">
    <div class="column"></div>
</div>
<div class="columns is-centered has-text-centered">
    <div class="column is-7">
        <div class="field">
            <label class="label">Apply for contributor role?</label>
            <div *ngIf="applyForContributor; then applied">
            </div>
            <button [disabled]="applyForContributor" class="button" type="button" (click)="onApplyContributorClicked()">Apply for Contributor</button>
        </div>
    </div>
</div>

<ng-template #success>
    <p class="help is-primary">
        Password successfully changed
    </p>
</ng-template>
<ng-template #noSuccess>
    <p class="help">
        &nbsp;
    </p>
</ng-template>
<ng-template #applied>
    <p class="help">
        You have already applied for the contributor role.
    </p>
</ng-template>