<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-size-3">
                Programs
            </h1>
            <h2 class="subtitle  is-size-6">
                {{headerSubtitle}}
            </h2>
        </div>
    </div>
</section>
<div class="container ">
    <div class="level">
        <div>
            <label class="label is-size-6">Filter by category </label>
            <span class="select is-small">
                <select [(ngModel)]="selectedCategoryId" (change)='filterPrograms()'>
                    <option *ngFor="let item of selectListOfCategories" [ngValue]="item.id">
                        {{item.name}}
                    </option>
                </select>
            </span>
        </div>
        <div class="">
            <label class="checkbox" for="filter">
                <input [(ngModel)]="isFilteredForFitness" (change)="filterPrograms()" type="checkbox" name="filter"
                    class="is-clickable">
                Filter based on you fitness level
            </label>
        </div>
    </div>
    <div class="columns">
        <div class="column content">
            <app-programs-list *ngIf="selectedProgram" [hasSelectButton]="hasSelectButton"
                [programs]="programsFilteredByCategory" [selectedProgram]="selectedProgram"
                (progamSelectionChange)="onProgramChange($event)" (progamSelected)="onProgramSelected($event)">
            </app-programs-list>
        </div>
        <div class="column ">
            <app-program-workout-list *ngIf="selectedProgram" [workouts]="selectedProgram.workouts"
                [selectedWorkout]="selectedWorkout" (workoutSelectionChange)="onWorkoutChange($event)">
            </app-program-workout-list>
        </div>
    </div>
</div>