<div class="columns" [formGroup]="form">
    <div class="column">
        <div class="control">
            <label class="label is-size-7">Choose from list</label>
            <span class="select is-fullwidth is-warning">
                <select formControlName="name">
                    <option *ngFor="let iteam of list" [value]="iteam.id">
                        {{iteam.name}}
                    </option>
                </select>
            </span>
        </div>
        <div class="field" *ngIf="toggleAdditionalInput">
            <div class="control">
                <label class="label is-size-7"> {{additionalInputHeadline}} </label>
                <input class="input is-normal" formControlName="additionalValue" type="number">
            </div>
        </div>
        <button class="button is-primary is-light" type="button" (click)="addItem()" [disabled]="!form.valid && toggleAdditionalInput">Add
            selected</button>
    </div>
    <div class="column">
        <label class="label is-size-7">Your selections</label>
        <div class="select is-multiple is-fullwidth is-warning">
            <select id="selected-options" multiple size="2" formControlName="selectedNameForDelete">
                <option *ngFor="let item of choosenList; let i = index" [value]="i">
                    
                    <label *ngIf="toggleAdditionalInput" for="test">{{item.name}} --> {{item.additionalValue}}</label>
                    <label *ngIf="!toggleAdditionalInput" for="test">{{item.name}}</label>
                </option>
            </select>
            <div *ngIf="((choosenList.length == 0 && name.touched)); then error else noError">
            </div>
        </div>
        <button class="button is-danger is-light" type="button" (click)="removeItem()">Remove selection</button><br>
    </div>
</div>
<ng-template #error>
    <p class="help is-danger">
        At least one item is required
    </p>
</ng-template>
<ng-template #noError>
    <p class="help">
        &nbsp;
    </p>
</ng-template>