<div class="section hero is-light has-text-centered">
    <div class="container hero-body">
        <h1 class="title">
            404 Page Not Found
        </h1>
        <h2 class="subtitle">
            Are you lost?
        </h2>
        <a [routerLink]="[ '/profile' ]">Go to profile?</a>
    </div>
</div>
