<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-size-3">
                Workouts
            </h1>
            <h2 class="subtitle  is-size-6">
                {{headerSubtitle}}
            </h2>
        </div>
    </div>
</section>
<div class="container" style="margin-top: 20px;">
    <div class="level">
        <div>
            <label class="label is-size-6">Filter by category </label>
            <span class="select is-small">
                <select [(ngModel)]="selectedCategoryId" (change)='filterWorkouts()'>
                    <option *ngFor="let item of selectListOfCategories" [ngValue]="item.id">
                        {{item.name}}
                    </option>
                </select>
            </span>
        </div>
        <div>
            <label class="checkbox" for="filter">
                <input [(ngModel)]="isFilteredForFitness" (change)="filterWorkouts()" type="checkbox" name="filter"
                    class="is-clickable">
                Filter based on you fitness level
            </label>
        </div>
    </div>
    <div style="height: 100%;" class="content columns">
        <div class="column">
            <app-workout-list *ngIf="selectedWorkout && workoutsFilteredByCategory" (workoutSelected)="onWorkoutSelected()"
                [hasSelectButton]="hasSelectButton" [workouts]="workoutsFilteredByCategory"
                [selectedWorkout]="selectedWorkout" (workoutSelectionChange)="changeSelectedWorkout($event)">
            </app-workout-list>
        </div>
        <div class="column">
            <app-workout-details *ngIf="selectedWorkout" [workoutID]="selectedWorkout.id"></app-workout-details>
        </div>
    </div>
</div>