<h2 class="title is-4">Details</h2>
<div *ngIf="workout">

    <strong> {{workout.name}} </strong>
    <small *ngFor='let category of workout.category'>{{category.generalName}} </small>
    <br>
    <div *ngFor="let set of workout.sets" (click)="changeSelectedExercise(set)">
        <strong *ngIf="selectedExercise" [ngClass]="{'has-background-primary-light' : set.id==this.selectedExercise.id}"
            class="is-clickable">{{set.exerciseRepetitions}}
            x {{set.exercise.name}}</strong>
    </div>
    <br>
    <div>
        <app-exercise-details *ngIf="selectedExercise" [exercise]="selectedExercise.exercise"></app-exercise-details>
    </div>
</div>