<div class="content">
    <h4>{{program.name}}</h4>
    <hr class="m-1">
    <!-- <h4>Categories</h4> -->
    <!-- <div *ngFor="let category of program.categories"> -->
    <!-- <p> {{category.generalName}} </p> -->
    <!-- </div> -->
</div>