<div class="columns">
    <div class="container">
        <p>
            We dont have any specific information requirements on medical conditions or disabilities yet, so this tab will not contain much for now. 
        </p>
    </div>
</div>