<div [formGroup]="form">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Add new program</p>
            <button class="delete is-large" aria-label="close" (click)="cancel()"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <div class="control">
                    <label class="label is-size-6">Program name</label>
                    <input class="input is-normal" formControlName="name" type="text"
                        placeholder="Enter a descriptive exercise name">
                </div>
                <div *ngIf="name.invalid && (name.dirty || name.touched); then error else noError">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label is-size-6">Description</label>
                    <textarea rows="1" class="textarea" placeholder="Enter a description for the exercise"
                        formControlName="description"></textarea>
                </div>
                <div *ngIf="description.invalid && (description.dirty || description.touched); then error else noError">
                </div>
            </div>
            <hr>
            <div class="field">
                <div id="space">
                    <label class="subtitle is-size-5">Choose categories for this exercise</label>
                </div>
                <app-select-list *ngIf="selectListOfCategories"  [list]="selectListOfCategories" (updateSelectedItems)="updateCategories($event)">
                </app-select-list>
            </div>
            <hr>
            <div class="field">
                <div id="space">
                    <label class="subtitle is-size-5">Choose workouts for this program</label>
                </div>
                <app-select-list *ngIf="selectListOfExercises" [list]="selectListOfExercises" (updateSelectedItems)="updateExercises($event)"
                    [toggleAdditionalInput]="true"
                    [additionalInputHeadline]="'How many days from start is this workout?'"
                    [additionalInputPattern]="'^[0-6]$'"></app-select-list>
            </div>

        </section>
        <footer class="modal-card-foot">
            <button type="button" class="button is-primary is-outlined" [disabled]="!form.valid"
                (click)="save()"><strong>Save
                    changes</strong></button>
            <button type="button" class="button is-danger is-outlined"
                (click)="cancel()"><strong>Cancel</strong></button>
        </footer>
    </div>
</div>

<ng-template #error>
    <p class="help is-danger">
        This field is required
    </p>
</ng-template>
<ng-template #noError>
    <p class="help">
        &nbsp;
    </p>
</ng-template>