<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-size-3">
                Goals
            </h1>
            <h2 class="subtitle  is-size-6">
                Here you can see your goal if you have one, if not you can create one
            </h2>
        </div>
    </div>
    <div class="tabs is-boxed is-centered main-menu" id="nav">
        <ul>
            <li [ngClass]="{'is-active' : tabId === 0}">
                <a (click)='tabClicked(0)'>
                    <span class="icon is-small"><i class="fa fa-play"></i></span>
                    <span>Current</span>
                </a>
            </li>
            <li [ngClass]="{'is-active' : tabId === 1}">
                <a (click)='tabClicked(1)'>
                    <span class="icon is-small"><i class="fa fa-archive "></i></span>
                    <span>Archive</span>
                </a>
            </li>

            <h4>(Debugging)=></h4>
            <!-- <button (click)="toggleUserHasGoalTESTING(2)">NO GOAL</button> -->
            <!-- <button (click)="toggleUserHasGoalTESTING(1)"> HAS GOAL</button> -->
        </ul>
    </div>
</section>
<div *ngIf="tabId===0">
    <div *ngIf="activeGoal">
        <div class="container" style="margin-top: 20px;">
            <!-- <app-goal-status [program]="activeGoal.program"></app-goal-status> -->
            <div class="columns">
                <div class="column">
                    <app-goal-workouts *ngIf="activeGoal" [goal]="activeGoal" (workoutChanged)="onWorkoutChange($event)"
                        [goalWorkouts]="activeGoal.goalWorkouts" [goalProgram]="activeGoal.program">
                    </app-goal-workouts>
                </div>
                <div class="column">
                    <app-workout-details *ngIf="selectedWorkout" [workoutID]="selectedWorkout.workout.id">
                    </app-workout-details>
                </div>
            </div>
        </div>
    </div>
    <div class="content" *ngIf="!activeGoal">
        <app-create-goal> </app-create-goal>
    </div>
</div>
<div *ngIf="tabId===1">
    <div class="container" style="margin-top: 20px;">

        <div class="columns">
            <div class="column">
                <app-goal-list (goalChange)="onHistoryGoalSelectionChange($event)" [goals]="goals"></app-goal-list>
            </div>
            <div class="column">
                <app-goal-workouts *ngIf="activeGoal" [isInteractiv]="false" [goal]="selectedHistoryGoal"
                    (workoutChanged)="onHistoryWorkoutChange($event)" [goalWorkouts]="selectedHistoryGoal.goalWorkouts"
                    [goalProgram]="selectedHistoryGoal.program">
                </app-goal-workouts>
            </div>
            <div class="column">
                <app-workout-details *ngIf="this.selectedHistoryWorkout"
                    [workoutID]="selectedHistoryWorkout.workout.id">
                </app-workout-details>
            </div>
        </div>
    </div>

</div>