<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-size-3">
                Administration site
            </h1>
            <h2 class="subtitle  is-size-6">
                Modify users privileges and roles
            </h2>
        </div>
    </div>
</section>
<div *ngIf="users && selectedUsers" class="container admin">
    <div class="columns">
        <div class="column">
            <div class="content ">
                <h3 class="title ">Users</h3>
                <div class="tile is-ancestor is-scrollable">
                    <div class="tile is-12 is-vertical is-parent">
                        <div *ngFor="let user of users" class="tile is-child box is-clickable"
                            (click)="selectProfile(user)"
                            [ngClass]="{'has-background-primary-light' :this.selectedUsers.id==user.id }">
                            <h4 class="subtitle is-5"> {{user.firstName+" "+user.lastName}} </h4>
                            <div *ngIf="this.user.applyForContributor; then isApplying"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="column">
            <div class="content ">
                <label class="label">Choose role for selected user</label>
                <div class="select">
                    <select *ngIf="selectedUsers" name="" id="" [(ngModel)]="selectedUsers.role">
                        <option value="User">User</option>
                        <option value="Contributer">Contributer</option>
                        <option value="Admin">Admin</option>
                    </select>
                </div>
            </div>
            <button (click)="submitChanges()" class="button is-primary is-outlined"><strong>Save</strong></button>
        </div>
    </div>
</div>

<ng-template #isApplying>
    <span class="icon is-medium has-text-warning">
        <i class="fas fa-lg fa-info-circle"></i>
    </span>
    <span>This user has applied to be a contributor</span>
</ng-template>