<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-size-3">
                Exercises
            </h1>
            <h2 class="subtitle  is-size-6">
                Here you can see all exercises on our site
            </h2>
        </div>
    </div>
</section>
<div class="container" style="margin-top: 20px;">
    <div class="level">
        <div>
            <label class="label is-size-6">Filter by category </label>
            <span class="select is-small">
                <select [(ngModel)]="selectedCategoryId" (change)='filterExercises()'>
                    <option *ngFor="let item of selectListOfCategories" [ngValue]="item.id">
                        {{item.name}}
                    </option>
                </select>
            </span>
        </div>
        <div>
            <label class="checkbox" for="filter">
                <input [(ngModel)]="isFilteredForFitness" (change)="filterExercises()" type="checkbox" name="filter"
                    class="is-clickable">
                Filter based on you fitness level
            </label>
        </div>
    </div>
    <div class="columns">
        <div class="column content">
            <app-exercises-list *ngIf="exercises" [selectedExercise]="selecedExercise"
                [exerciseList]="exercisesFilteredByCategory" (exerciseChanged)="onExerciseChange($event)">
            </app-exercises-list>
        </div>
        <div class="column content">
            <app-exercise-details *ngIf="selecedExercise" [exercise]="selecedExercise"></app-exercise-details>
        </div>
    </div>
</div>