<div class="content">
    <h4>Archive</h4>
    <div class="p-1 m-1 card" *ngFor="let goal of goals"
        [ngClass]="{'has-background-color':goal.id==selectedGoal.id}">
        <div [ngClass]="goal.isCompleted ? 'has-background-primary-light':'has-background-danger-light'"
            class="level is-clickable" (click)="onGoalChange(goal)">
            <p>Goal stared on {{goal.startDate.toLocaleDateString()}}</p>
            <p *ngIf="goal.isActive">Active </p>
            <p *ngIf="!goal.isActive"> Archived</p>
        </div>
    </div>
</div>