<div class="table-container">
    <table class="m-0 table has-background-light is-fullwidth is-bordered">
        <th cdkDropList [id]="'cdkDropList-'+i" [cdkDropListData]="workoutLists[i]"
            [cdkDropListConnectedTo]="['cdkDropList-0','cdkDropList-1','cdkDropList-2','cdkDropList-3','cdkDropList-4','cdkDropList-5','cdkDropList-6']"
            (cdkDropListDropped)="onDrop($event)" *ngFor="let day of weekdays;let i = index" class="" [ngClass]="{'has-background-warning-light':i===0
            ,'has-background-primary-light':getTodayShiftedIndex()===(i)}">
            <p> {{weekdays[shiftStartOfWeekToGoalStart(i).getDay()]}}
                <small *ngIf="getTodayShiftedIndex()===i"> (today)</small>
            </p>
            <p class="is-size-7 has-text-grey-light"> {{getDateOffsetFromGoalStart(i).toLocaleDateString()}}</p>
            <div class="" [id]="workout.id" [cdkDragData]="workout" cdkDrag *ngFor="let workout of workoutLists[i]"
                [ngClass]="{
                'has-background-primary':workout.isCompleted,
                'has-background-warning':!workout.isCompleted,
                'has-background-danger':!workout.isCompleted && workout.daysFromStart<getTodayShiftedIndex()
            }" class="card level p-1 m-1 is-clickable">
                <small *ngIf="workout.workout" class="level-left"> {{workout.workout?.name}} </small>
                <small *ngIf="workout.workoutName" class="level-left"> {{workout.workoutName}} </small>
                <input *ngIf="getTodayShiftedIndex()>=i" class="level-right" [(ngModel)]='workout.isCompleted'
                    type="checkbox" name="" id="">
            </div>
        </th>
    </table>
    <div class="container">
        <p class=" has-text-weight-bold has-text-centered">Workouts left:
            {{workoutsLeft}} <small class="has-text-grey-light"> --- </small>Days left: {{daysLeft}}<small
                class="has-text-grey-light"> --- </small> Workouts
            skipped:
            {{workoutsSkipped}}</p>
    </div>
</div>