<section class="section is-success has-background-link-light">
    <div class="columns is-centered">
        <div class="column is-two-fifths ">
            <div class="container has-text-centered" [formGroup]="loginForm">
                <input class="input is-rounded" type="text" name="username" formControlName="username"
                    placeholder="Username">&nbsp;
                <input class="input is-rounded" type="password" name="password" formControlName="password"
                    placeholder="Password">&nbsp;
                <button class="my-2 button is-outlined" type="button" (click)="loginClicked()"
                    [disabled]="!loginForm.valid">
                    &nbsp;<span>Login</span>&nbsp;
                    <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
            <div class="container has-text-centered">
                <p>
                    Not a member yet? <a class="" href="/register">Register!</a>
                </p>
                <p class="help is-primary is-clickable" (click)="forgotPassword()">
                    Forgot password?
                </p>
            </div>
        </div>
    </div>

    <div [ngClass]="{'is-active' : showError}" class="modal has-text-centered">
        <app-error-popup [errorMessage]="error"
            [additionalInformation]="'Please review your credentials'"
            (closeModal)="closeError()">
        </app-error-popup>
    </div>

    <div class="modal has-text-centered" [ngClass]="{'is-active' : showForgotPasswordPopOver}">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="has-text-right">
                    <button class="delete is-large" aria-label="close" (click)="closeError()"></button>
                </div>
                <div class="media-content">
                    <p>
                        <strong>Enter your email to reset password</strong>
                        
                    </p>
                    <br>
                    <div class="field">
                        <input class="input " [(ngModel)]="resetEmail" type="email" placeholder="example@example.com">
                    </div>
                    <div class="field">
                        <button [disabled]="!(resetEmail.length > 6)" class="button is-outlined is-primary" (click)="resetPassword()">
                            <strong>Reset password</strong>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

</section>