<div class="content">
    <h3>Exercise details</h3>
    <p>
        <strong> {{exercise.name}} </strong>
        <small *ngFor='let category of this.exercise.categories'>{{category.concreteName}} </small>
        <br>
        {{this.exercise.description}}<br>
        <img *ngIf="exercise.image" [src]="exercise.image" alt="">
        <img class="image is-128x128" *ngIf="!exercise.image"
            src="https://st2.depositphotos.com/7717264/10526/v/950/depositphotos_105260826-stock-illustration-bodybuilder-big-biceps-vector-logo.jpg"
            alt="">
    </p>
</div>