
.overflowScroll{
    height: 700px;
    app-programs{
        // display:  inline-block;
        height: 100%;
    }
    app-workouts{
        // display:  inline-block;
        height: 100%;
    }
}