<div class="container">
    <!-- <h2>Select items for goal</h2> -->
    <div class="tabs">
        <ul>
            <li [ngClass]="{'is-active' : tabId === 0}">
                <a (click)='tabClicked(0)'>
                    <span class="icon is-small"><i class="fa fa-clipboard-list"></i></span>
                    <span>Programs</span>
                </a>
            </li>
            <li [ngClass]="{'is-active' : tabId === 1}">
                <a (click)='tabClicked(1)'>
                    <span class="icon is-small"><i class="fa fa-dumbbell "></i></span>
                    <span>Workouts</span>
                </a>
            </li>
        </ul>
    </div>
    <div *ngIf="goalToDifficult" class="box has-background-warning">
        <h2>Warning</h2>
        <p>This is way to much for you (calculated warning based on fitnes level)</p>
    </div>
    <div class=" columns">
        <div class="column is-two-thirds">
            <div>
                <div class="overflowScroll" *ngIf="tabId===0">
                    <app-programs [headerSubtitle]="'Here you can change which program you want in your goal'"
                        [hasSelectButton]='true' (programSelected)="addProgToGoal()" [programs]="filteredProgramList"
                        (programChange)="onProgramChange($event)">
                    </app-programs>
                </div>
                <div class="overflowScroll" *ngIf="tabId===1">
                    <app-workouts [headerSubtitle]="'Here you can add and remove the workouts you want in your goal'"
                        [hasSelectButton]='true' (workoutSelected)="addWorkoutToGoal()"
                        [workouts]="filteredWorkoutsList" (workoutChange)="onWorkoutChange($event)">
                    </app-workouts>
                </div>
            </div>
        </div>

        <div class="box column">
            <div >
                <h1>{{headingString}}</h1>
                <div>
                    <app-goal-workouts [goal]="newGoal" (deleteProgam)="removeProgram()"
                        (deleteWorkout)="removeWorkout($event)" [isCompletable]="false" [isDeletable]="true"
                        [isInteractiv]="true" [goalProgram]="newGoal.program" [goalWorkouts]="newGoal.goalWorkouts">
                    </app-goal-workouts>
                </div>
            </div>
        </div>
    </div>
</div>