<div class="content">
    <div class="level">
        <h1 class="title">Workouts</h1>
        <button (click)="onWorkoutSelected()" class="button is-primary" *ngIf="hasSelectButton">Add workout</button>
        <button (click)="toggleAddWorkoutModule()" class="button is-primary is-outlined "
            *ngIf="!hasSelectButton && isAuthorized()
            "><strong>Add new workout</strong></button>
        <app-add-workout (clicked)="handleSaveExercise()" class="modal"
            [ngClass]="{'is-active' : toggleWorkoutPopOver}"></app-add-workout>
    </div>
    <div class="is-scrollable">
        <section [ngClass]="{'has-background-primary-light' : workout.id==selectedWorkout.id}"
            *ngFor="let workout of workouts"  (click)="changeSelectedWorkout(workout)">
            <div class="level m-0 is-clickable">
                <p class="m-3">
                    <strong> {{ workout.name }} </strong>
                    <small class="has-text-right" *ngFor="let category of workout.category">
                        {{category.concreteName+','}} </small>
                </p>
            </div>
            <hr class="hr m-0">
        </section>
    </div>
</div>