#workoutList {
    height    : 100%;
    overflow-y: scroll;
}

#maxHeight {
    background-color: lawngreen;
    height          : 100%;
}

.is-scrollable {
    height    : 300px;
    overflow-y: auto;
}

.is-clickable {
    cursor: pointer;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgb(98, 98, 98) rgb(83, 83, 83);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width           : 7px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-track {
    background: #F5F5F5;
    box-shadow: inset 0 0 6px rgba(76, 76, 76, 0.3);
}

*::-webkit-scrollbar-thumb {
    background-color: #4c4c4c;
    border          : 2px solid #555555;
}