<section class="section has-text-centered is-success has-background-link-light" [formGroup]="registerForm">
    <div class="columns">
        <div class="column">
            <div class="field is-normal">
                <label class="label">User input</label>
            </div>
            <div class="field is-normal">
                <p class="control is-expanded has-icons-left">
                    <input class="input" type="text" placeholder="First name" formControlName="firstName">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </p>
            </div>
            <div class="field  is-normal">
                <p class="control is-expanded has-icons-left">
                    <input class="input" type="text" placeholder="Last name" formControlName="lastName">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </p>
            </div>
            <div class="field is-normal">
                <p class="control is-expanded has-icons-left has-icons-right">
                    <input class="input " type="email" placeholder="example@mail.com" formControlName="email">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </p>
            </div>
            <div class="field is-normal">
                <p class="control is-expanded has-icons-left has-icons-right">
                    <input class="input " type="date"  formControlName="dob" min="1930-01-01">
                    <span class="icon is-small is-left">
                        <i class="fas fa-birthday-cake"></i>
                    </span>
                </p>
            </div>
            <div class="field is-normal">
                <p class="control is-expanded has-icons-left has-icons-right">
                    <input class="input " type="password" placeholder="Choose password" formControlName="password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>
            <div class="field is-normal">
                <p class="control is-expanded has-icons-left has-icons-right">
                    <input class="input " type="password" placeholder="Repeat password" formControlName="passwordConfirmation">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>
        </div>
        
        <div class="column" formGroupName="profile">
            <div formGroupName="address">
            <div class="field is-normal">
                <label class="label">Address</label>
            </div>
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    <input class="input" type="text" placeholder="Address line 1" formControlName="addressLine1">
                    <span class="icon is-small is-left">
                        <i class="fas fa-address-card"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    <input class="input" type="text" placeholder="Address line 2" formControlName="addressLine2">
                    <span class="icon is-small is-left">
                        <i class="fas fa-address-card"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    <input class="input" type="text" placeholder="Address line 3" formControlName="addressLine3">
                    <span class="icon is-small is-left">
                        <i class="fas fa-address-card"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    <input class="input" type="text" placeholder="City" formControlName="city">
                    <span class="icon is-small is-left">
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    <input class="input" type="text" placeholder="Postal code" formControlName="postalCode">
                    <span class="icon is-small is-left">
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    <input class="input" type="text" placeholder="Country" formControlName="country">
                    <span class="icon is-small is-left">
                        <i class="fas fa-flag"></i>
                    </span>
                </p>
            </div>
        </div>
        </div>

        <div class="column" formGroupName="profile">
            <div class="field is-normal">
                <label class="label">User metrics</label>
            </div>
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    <input class="input" type="number" placeholder="Weight (kg)" formControlName="weight">
                    <span class="icon is-small is-left">
                        <i class="fas fa-weight"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    <input class="input" type="number" placeholder="Height (cm)" formControlName="height">
                    <span class="icon is-small is-left">
                        <i class="fas fa-ruler-vertical"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    <span class="select is-fullwidth">
                        <select formControlName="genderId">
                            <option *ngFor="let aGender of genders" [value]="aGender.id">
                                {{aGender.name}}
                            </option>
                        </select>
                    </span>
                    <span class="icon is-small is-left">
                        <i class="fas fa-genderless"></i>
                    </span>
                </p>
            </div>

        </div>
    </div>

    <div class="field is-normal">
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="button" (click)="onRegisterClicked()"
                        [disabled]="!registerForm.valid">
                        <strong>Register</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 
    <section class="section is-success has-background-link-light">
    <form [formGroup]="registerForm">
        <div class="field">
            <label class="label" for="firstName">First name</label>
            <input type="text" class="input is-rounded" placeholder="First name" formControlName="firstName">
        </div>

        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
            <p class="help" *ngIf="firstName.errors.required">
                First name is required
            </p>
        </div>
        <div class="field">
            <label class="label" for="emailAddress">Email address</label>
            <input type="text" class="input is-rounded" placeholder="example@something.com"
                formControlName="emailAddress">
        </div>

        <div *ngIf="emailAddress.invalid && (emailAddress.dirty || emailAddress.touched)">
            <p class="help" *ngIf="emailAddress.errors.required">
                Email is required
            </p>
            <p class="help" *ngIf="emailAddress.errors.email">
                Email is not correct
            </p>
        </div>

        <button class="button" type="button" (click)="onRegisterClicked()" [disabled]="firstName.invalid">
            Register
        </button>
    </form>

</section>
 -->