<div class="columns">
    <div class="column is-full">
        <p>
            Her you can see and edit your training specific information.
        </p>
        <hr>    
        <div *ngIf="successfullUpdate; then success" >
    </div>
    </div>

</div>
<div class="columns is-desktop"  [formGroup]="metricsForm">
        <div class="column is-half">
            <div class="field">
                <div class="control">
                    <label class="label is-size-7">Weight (kg)</label>
                    <input class="input is-normal" type="number" placeholder="70" formControlName="weight">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label is-size-7">Height (cm)</label>
                    <input class="input is-normal" type="number" placeholder="180" formControlName="height">
                </div>
            </div>
            
        </div>
        <div class="column is-half">
            Something about the fitness level or other training related information goes here i guess. 
        </div>
</div>
<div class="columns is-centered has-text-centered">
    <div class="column">
        <button class="button is-primary" type="button" (click)="onSaveClicked()" [disabled]="!metricsForm.valid">
            <strong>Save</strong>
        </button>
    </div>
</div>

<ng-template #success>
    <p class="help is-primary">
        Metrics successfully updated
    </p>
</ng-template>