<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-size-3">
                {{user?.firstName}}'s profile information page
            </h1>
            <h2 class="subtitle  is-size-6">
                Edit your personal information, metrics or other settings 
            </h2>
        </div>
    </div>
    <div class="tabs is-boxed is-centered main-menu" id="nav">
        <ul>
            <li data-target="pane-1" id="1" data-toggle="tab" [ngClass]="{'is-active' : tabId === 1}">
                <a (click)='tabClicked(1)'>
                    <span class="icon is-small"><i class="fa fa-user"></i></span>
                    <span>Personal information</span>
                </a>
            </li>
            <li data-target="pane-2" id="2" [ngClass]="{'is-active' : tabId === 2}">
                <a (click)='tabClicked(2)'>
                    <span class="icon is-small"><i class="fa fa-dumbbell"></i></span>
                    <span>Metrics</span>
                </a>
            </li>
            <li data-target="pane-3" id="3" [ngClass]="{'is-active' : tabId === 3}">
                <a (click)='tabClicked(3)'>
                    <span class="icon is-small"><i class="fa fa-hospital-symbol"></i></span>
                    <span>Medical</span>
                </a>
            </li>
            <li data-target="pane-4" id="4" [ngClass]="{'is-active' : tabId === 4}">
                <a (click)='tabClicked(4)'>
                    <span class="icon is-small"><i class="fa fa-cogs"></i></span>
                    <span>Settings</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div *ngIf="user" class="tab-pane" id="pane-1" [ngClass]="{'is-active' : tabId === 1}">
            <app-personal-information [userData]="user" (saveClicked)="handlePersonalSaveClicked($event)"></app-personal-information>
        </div>
        <div *ngIf="user" class="tab-pane" id="pane-2" [ngClass]="{'is-active' : tabId === 2}">
            <app-user-metrics [heightInput]="user?.profile?.height" [weightInput]="user?.profile?.weight" [id]="user?.id" (saveClicked)="handleMetricSaveClicked($event)"></app-user-metrics>
        </div>
        <div class="tab-pane" id="pane-3" [ngClass]="{'is-active' : tabId === 3}">
            <app-medical-information></app-medical-information>
        </div>
        <div class="tab-pane" id="pane-4" [ngClass]="{'is-active' : tabId === 4}" >
            <app-user-settings [id]="user?.id" [applyForContributor]="user?.applyForContributor"></app-user-settings>
        </div>

    </div>
</section>