.tabs {
    margin-bottom: -1px !important;
    position     : relative;
}

.tab-content {
    padding         : 60px;
    top             : 197px;
    color           : rgb(0, 0, 0);
    background-color: white;
}

.tab-pane {
    display: none;
}

.tab-pane.is-active {
    display  : block;
    width    : 50%;
    position : relative;
    left     : 50%;
    transform: translateX(-50%);
}

.is-active {
    display: initial;
}