<button *ngIf="isAuthorized()" class="button is-primary is-outlined" (click)="toggleAddExerciseModule()"
    style="margin-bottom: 8px;">
    <strong>Add new exercise</strong>
</button>
<app-add-exercise class="modal" [ngClass]="{'is-active' : toggleExercisePopOver}" (clicked)="handleSaveExercise()">
</app-add-exercise>
<section class="content" [ngClass]="{'has-background-primary-light' : ex.id==this.selectedExercise.id}"
    *ngFor="let ex of exerciseList" (click)="changeSelectedExercise(ex)">
    <article class="media p-2 is-clickable">
        <figure class="media-left m-0">
            <p class="image is-64x64">
                <img *ngIf="ex.image" [src]="ex.image" alt="">
                <img *ngIf="!ex.image"
                    src="https://st2.depositphotos.com/7717264/10526/v/950/depositphotos_105260826-stock-illustration-bodybuilder-big-biceps-vector-logo.jpg"
                    alt="">
            </p>
        </figure>
        <div class="">
            <p>
                <strong> {{ex.name}} </strong>
                <small *ngFor='let category of ex.categories'>{{category.concreteName}} </small>
                <br>
            </p>
        </div>
    </article>
    <hr class="hr m-0">
</section>