<nav class="navbar is-dark is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/dashboard">
      <img
        src="../../../../assets/images/meFIT3.png"
        height="100" alt="meFIT logo">
    </a>

    <a (click)="toggleHamburger()" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a *ngIf="isSignedIn()" class="navbar-item" routerLink="/dashboard">
        Dashboard
      </a>
      <a *ngIf="isSignedIn()" class="navbar-item" routerLink="/exercises">
        Exercises
      </a>
      <a *ngIf="isSignedIn()" class="navbar-item" routerLink="/workouts">
        Workouts
      </a>
      <a *ngIf="isSignedIn()" class="navbar-item" routerLink="/programs">
        Programs
      </a>
      <a *ngIf="isSignedIn()" class="navbar-item" routerLink="/goals">
        Goals
      </a>
      <a *ngIf="isSignedIn()" class="navbar-item" routerLink="/profile">
        Profile
      </a>
      <a *ngIf="isAdmin()" class="navbar-item" routerLink="/admin">
        Admin
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a *ngIf="!isSignedIn()" class="button is-primary is-outlined" routerLink="/register">
            <strong>Sign up</strong>
          </a>
          <a *ngIf="!isSignedIn()" class="button is-light is-outlined" routerLink="/login">
            <strong>Log in</strong>
          </a>          
          <a *ngIf="isSignedIn()" class="button is-danger is-outlined" (click)="logOut()" routerLink="/login">
            <strong>Log out</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>