<div>
    <app-weekly-overview *ngIf="currentGoal" [currentGoal]="currentGoal"></app-weekly-overview>
    <app-create-goal *ngIf="currentGoal" [headingString]="'Edit Goal'" class="content" [newGoal]="currentGoal">
    </app-create-goal>
</div>